page-login-email {
    ion-content {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-color: transparent;
    }
    [font-style] {
        color: #ffffff;
        font-size: 1.2em;
    }
    [position] {
        position: absolute;
        bottom: 10%;
    }
    [paddingTop] {
        padding-top: 5em;
    }
    [row-width] {
        width: 100%;
    }
    [grid-style] {
        background-color: rgba(129, 129, 129, 0.39);
        border-radius: 1.5em;
        width: 80%;
    }
    ion-label[fixed] {
       
        flex: 0 0 60px;
        width: 60px;
        min-width: 77px;
        max-width: 149px;
    }
    .item-input .label-md {
        color: #000000;
    }
    .item-input .label-ios {
        color: #000000;
    }

}
