@import url('https://fonts.googleapis.com/css?family=Raleway|Saira+Semi+Condensed');
page-product-detail {

    .grid-back{
        background-color: wheat;
    }

    rating{
        text-align: right;
    }

    .button-ios-danger{
        background-color: #2f2b2b;
    }

    ion-header{
        opacity: 0.8;
        position: fixed;
    }

    .grid-price{
        position: relative;
        z-index: 1;
        margin-top: -50px;
        color: wheat;
    }

    .title-a{
        color: rgb(231, 230, 230);
        // text-align: center;
        font-family: 'Raleway', sans-serif;
        background-color: rgba(70, 44, 44, 0.5);
        height: 5.2em;
        position: relative;
        z-index: 1;
        margin-top: -95px;
        // margin-left: 10px;       
    }
    h2{
        margin-left: 10px
    }
    p {
        margin-bottom: 0 ;
        text-indent: 1.5em;
        margin-top: 10px;
        font-family: 'Raleway', sans-serif;
        
    }
    .color-orenge-custom {
        color: #6E2B16;

    }

    .text-decoration {
        text-decoration: line-through;
        margin-right: 0.5em
    }
    .price-pomotions{
        text-align: right;
    }
    .favorite-f{
        font-family: 'Raleway', sans-serif;
    }
    .favorite{
        margin-top: 10px !important;
        font-family: 'Raleway', sans-serif;
    }

    ion-scroll{
        padding-bottom: 0px !important;
        border-bottom: 0px !important;
    }
   
    .image-logo{
        width: 70px;
        height: 60px;
        margin: auto;
    }
    .icon-star{
        color: #878717 !important;
        
    }
    .grid-font{
        font-family: 'Raleway', sans-serif;
    }
    
    .see-all{
		color: #00e9d5;
		position: absolute;
		right: 0;
		margin-right: 12px;
	}
    
    ul {
        padding: 0px;
        margin-bottom: 0px !important;
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
       
          ion-icon {
            font-size: 30px;
          }
        }
      }
    

}
