page-profile {
   
    ion-content {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-color: transparent;
     
    }
    [img-size] {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        border: 1 white;
    }
    [font-name-size] {
        font-size: 1.5em;
    }
 
    [transparent]{
        background-color: rgba(255, 255, 255, 0.39) !important;
        border-radius: 5%;
    }
    [transparent2]{
        background-color: rgba(255, 255, 255, 0.39) !important;
    }
}