<ion-header>
  <ion-navbar nav-height>
    <ion-buttons start>
      <button ion-button (click)="gotoProfile()" button-size>
        <ion-avatar item-start>
          <img src="./assets/icon/Profile_img2-01.png">
        </ion-avatar>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <img src="./assets/image/logo.png" width="60" height="50">
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="location()">
        <img src="./assets/image/shop-icon-01.png" width="40" height="40">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>

  <!-- --------------- POINT BANNER WITH USER --------------- -->
  <ion-card class="card-background-page" (click)="popupActivities()">
    <ion-row justify-content-center>
      <ion-col col-6 justify-content-center>
        <div point-style>9</div>
      </ion-col>
    </ion-row>

    <img src="./assets/image/top-banner.jpg" />
    <!-- <img src="./assets/image/login.jpg" /> -->

  </ion-card>
  <!-- --------------- POINT BANNER WITH USER --------------- -->


  <!-- --------------- POINT BANNER WITHOUT USER--------------- -->

  <!-- <ion-card class="card-background-page" (click)="popupActivities()">
    <img src="./assets/image/login.jpg" />

  </ion-card> -->

  <!-- --------------- POINT BANNER WITHOUT USER--------------- -->





  <!-- --------------- PROMOTION BLOCK --------------- -->
  <div>
    <h4 no-margin class="categories-title">โปรโมชั่นแนะนำ
     
    </h4>
    <div>
      <ion-scroll scrollX="true" class="slide-x1">
        <ion-row no-padding class="row-custom">
          <ion-col col-6 col-img-size no-padding *ngFor="let item of promotionData">
            <img img-size [src]="item.image" alt="">
          </ion-col>
        </ion-row>
        <ion-row no-padding class="row-custom">
          <ion-col col-6 col-img-size no-padding *ngFor="let item of promotionData2">
            <img img-size [src]="item.image" alt="">
          </ion-col>
        </ion-row>
      </ion-scroll>
    </div>

  </div>
  <!-- --------------- PROMOTION BLOCK --------------- -->

  <!-- --------------- FIRST ADS BANNER --------------- -->
  <ion-card class="card-background-page" (click)="gotoPromotion()">
    <img src="./assets/image/BG2.jpg" />
  </ion-card>
  <!-- --------------- FIRST ADS BANNER --------------- -->

  <!-- <button ion-button block (click)="gotoQR()">QR-CODE</button> -->
  <div>
    <ion-scroll scrollX="true" class="slide-x">
      <ion-row class="row-custom">
        <ion-col col-4 *ngFor="let data of dataListX">
          <ion-thumbnail (click)="gotoPage(data.link)">
            <img [src]="data.image">
          </ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-scroll>
  </div>

  <!-- --------------- SHOP HEADER BLOCK --------------- -->
  <div>
    <img src="./assets/image/shop-banner.png" />
  </div>
  <!-- --------------- SHOP HEADER BLOCK --------------- -->

  <!-- --------------- CAFE RECOMMENT BLOCK --------------- -->
  <div>
    <h4 class="categories-title">ร้านกาแฟแนะนำ
      <span class="see-all" (click)="openPageShopList()">see all</span>
    </h4>
    <div (click)="gotoShopList()">
      <ion-scroll scrollX="true" class="slide-x2">
        <ion-row no-padding class="row-custom">
          <ion-col col-4 col-img-size no-padding *ngFor="let item of dataShop">
            <img img-size [src]="item.image" alt="">
            <p class="name-text">{{item.name}}</p>
          </ion-col>
        </ion-row>
      </ion-scroll>
    </div>
  </div>
  <!-- --------------- CAFE RECOMMENT BLOCK --------------- -->
</ion-content>