@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Kanit|Mitr|Sriracha');
page-home {
    ion-navbar {
        ion-avatar img {
            border-radius: 50%;
            border: solid white;
            border-width: 2px;
            overflow: hidden;
            width: 42px;
            height: 42px;
        }
        ion-buttons {
            font-size: 1.5em;
        }
    }
    .row-custom {
        flex-wrap: inherit !important;
    }
    .slide-x {
        height: 142px;
    }
    .slide-x1 {
        height: 31vh;
    }
    .slide-x2 {
        height: 15vh;
    }
    .tb {
        font-weight: bold;
        text-align: center;
    }
    .toolbar-title-ios {
        color: #fff !important;
    }
    .toolbar-background-ios {
        background: #4f3222 !important;
    }
    [button-size] {
        height: 53px;
        width: 53px;
    } // [nav-height] {
    //     height: 5.5em;
    // }
    [img-size] {
        width: 100%;
        height: 15vh;
    }
    [col-img-size] {
        width: 35vw;
    }
    .card-size {
        height: 58%;
    }
    .categories-title {
        // font-family: 'Kanit', sans-serif;
        // font-family: 'Sriracha', cursive;
        font-family: 'Mitr', sans-serif; // font-family: 'Fredoka One', cursive;
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 0.7px;
        color: rgb(92, 68, 68);
        margin: 8px;
    }
    .see-all {
        // font-family: 'Sriracha', cursive;
        color: #e7a01a;
        position: absolute;
        right: 0;
        margin-right: 12px;
    }
    .name-text {
        background-color: rgba(56, 28, 28, 0.7);
        position: absolute;
        width: 100%;
        margin-top: -35px;
        height: 32px;
        color: white;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
    }
    [point-style] {
        font-size: 8em;
        margin-top: 4vh;
        width: 100%;
        position: absolute;
        color: white;
        text-align: center;
        margin-left: 0px;
    }
}