// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$tabs-background: #4f3222;

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: rgb(252, 246, 246) ;
}

.tabs-md .tabbar {
  background: #96ceb4 ;
}

.tabs-md .tab-button[aria-selected=true] {
  background-color: #fff2df ;
  // opacity: 0.5;
  color: #f4f4f4 ;
}
.tabs-md .tab-button-icon {
  color: #f4f4f4 ;
}
.tabs-md .tab-button {
  color: #f4f4f4 ;
}


$tabs-ios-tab-text-color-active: #1F0404;
$tabs-md-tab-text-color-active:#1B0505;

$tabs-md-tab-icon-color: #f4f4f4;
$tabs-ios-tab-icon-color: #f4f4f4;

$tabs-ios-tab-text-color: #f4f4f4;
$tabs-md-tab-text-color: #f4f4f4;

$tabs-md-tab-icon-color-active: #000000;
$tabs-ios-tab-icon-color-active: #000000;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  dark-brown: #4f3222,
  facebook: #4267b2,
  tab-color: #4f3222,
  tab-icon:#fbf6a9

);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$navbar-ios-height: 9vh;
$toolbar-ios-height: 9vh;
$toolbar-background: #4f3222;

$tabs-ios-tab-color-active: #feffde;
$tabs-ios-tab-text-color-active: #ffac00;
$tabs-ios-tab-icon-color-active: #ffac00;
$fab-ios-background-color-activated: darkgrey;
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$navbar-md-height: 9vh;
$toolbar-md-height: 9vh;
$toolbar-md-background: #4f3222;

$tabs-md-tab-color-active: #ffffff;
$tabs-md-tab-text-color-active: #ffac00;
$tabs-md-tab-icon-color-active: #ffac00;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
