page-walkthrough {
    .page-one{
        background: url('../../assets/image/nathan-dumlao.jpg');
        background-size:cover;
    }
    .page-two{
        background: url('../../assets/image/annie-spratt-76930.jpg');
        background-size:cover;
    }
    .page-tree{
        background: url('../../assets/image/nathan-dumlao-290152.jpg');
        background-size:cover;
    }
}
