page-premium-product {
    
    ion-content {
        background-size: cover;
    }
    .ponit {
        text-align: center;
        font-size: 60px;
        margin-top: 0.7em;
        color: white;
    }
    .cup-coin {
        text-align: center;
        font-size: 1.2em;
        margin-top: -1vh;
        font-family: 'Kanit', sans-serif;
        color: white;
    }
    img {
        height: 30vh;
        width: auto;
    }
    .img-sl {
        margin-top: 12vh;
    }
    .text-aling h2 {
        text-align: center;
        color: white;
        margin-top: 0rem;
    }
    .swiper-pagination-bullet-active {
        background: #ffffff;
    }
    .fab ion-icon {
        color: white;
    }
    .fab{
        background-color: rgba(72, 138, 255, 0);
        border: solid 0.1em;
        border-color: white;
       
    }
    [slide-height]{
        height: 65vh;
    }
}