<!-- Generated template for the HeaderToolbarComponent component -->
<ion-toolbar tool-height >
  <ion-buttons start>
    <button ion-button (click)="gotoProfile()" *ngIf="user">
      <ion-avatar item-start>
        <img src="{{user.profileImageURL}}" >
      </ion-avatar>
    </button>
    <button ion-button (click)="gotoLogin()" *ngIf="!user">
        <ion-avatar item-start>
          <img src="./assets/icon/Profile_img2-01.png">
        </ion-avatar>
      </button>
  </ion-buttons>
  <ion-title text-center *ngIf="title">
    {{title}}
  </ion-title>
  <ion-title text-center *ngIf="!title">
    <img src="./assets/image/logo.png" width="60" height="50">
  </ion-title>
  <ion-buttons end>
    <button ion-button (click)="location()">
      <img src="./assets/image/shop-icon-01.png" width="40" height="40">
    </button>
  </ion-buttons>
</ion-toolbar>
