page-promotion {
    ion-toolbar {
        ion-avatar img {
            border-radius: 50%;
            border: solid white;
            border-radius: 50%;
            border-width: 2px;
            overflow: hidden;
            width: 42px;
            height: 42px;
        }
        ion-buttons {
            font-size: 1.5em;
        }
    }
    [tool-height]{
        height: 4em;
    }
}
