page-promotion {
    // ion-toolbar {
    //     ion-avatar img {
    //         border-radius: 50%;
    //         border: solid white;
    //         border-radius: 50%;
    //         border-width: 2px;
    //         overflow: hidden;
    //         width: 42px;
    //         height: 42px;
    //     }
    //     ion-buttons {
    //         font-size: 1.5em;
    //     }
    // }
   
///////////////////////////////////

      
      .card-container {
        cursor: pointer;
        height: 550px;
        perspective: 800;
        position: relative;
        width: 400px;
      }
      .card {
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;
        width: 100%;
      }
      .card:hover {
        transform: rotateY(180deg);
      }
      .card .side {
        backface-visibility: hidden;
        border-radius: 6px;
        height: 100%;
        position: absolute;
        overflow: hidden;
        width: 100%;
      }
      .card .back {
        background: #eaeaed;
        color: #0087cc;
        line-height: 150px;
        text-align: center;
        transform: rotateY(180deg);
      }

}
